@charset "UTF-8";

body{
    font-family: 'Times New Roman', Times, serif;
}

table{
    border-collapse: collapse;
    width: 500px;
}

caption{
    font-size: 1.5em;
    font-weight: bolder;
    padding: 8px;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

.nome{
    background-color: tomato;
}

.sexo{
    background-color: brown;
}

.idade{
    background-color: tomato;
}

.profissao{
    background-color: brown;

}
/**/