@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: tomato;
    margin: auto;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

nav{
    background-color: #5c9e5c;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.363);
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 50px;
}

nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px 0px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.37);
}

article{
    background-color: lightgreen;
    padding: 5px;
    border-radius: 10px;
}

article > aside{
    background-color: rgb(105, 177, 105);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
}

footer > p{
    text-align: center;
}

div#bola{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: white;
    margin: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.322);
}

h1{
    color: #447d44;
    text-align: center;
}

h2{
    text-align: center;
    color: #447d44;
}

p{
    text-align: justify;
}



